{{#if title}}
  <div class="card-header ch-alt m-b-20">
    <h2>{{title}}</h2>
  </div>
{{/if}}

<div class="table-responsive model-list">
  {{#if objects}}
    <table class="table table-hover">
      <thead>
        <tr>
          {{#each columns as |column|}}
            <th>{{column.label}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each objects as |object|}}
          {{object-list-row object=object columns=columns objectSelected='objectSelected'}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="card-body card-padding">
      {{noresults}}
    </div>
  {{/if}}
</div>
