<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Browser</div>
    <div class="panel-body">
      name: <strong>{{userAgent.browser.name}}</strong><br/>
      major: <strong>{{userAgent.browser.major}}</strong><br/>
      version: <strong>{{userAgent.browser.version}}</strong>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Engine</div>
    <div class="panel-body">
      name: <strong>{{userAgent.engine.name}}</strong><br/>
      version: <strong>{{userAgent.engine.version}}</strong>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">OS</div>
    <div class="panel-body">
      name: <strong>{{userAgent.os.name}}</strong><br/>
      version: <strong>{{userAgent.os.version}}</strong>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Device</div>
    <div class="panel-body">
      vendor: <strong>{{userAgent.device.vendor}}</strong><br/>
      model: <strong>{{userAgent.device.model}}</strong><br/>
      type: <strong>{{userAgent.device.type}}</strong>
    </div>
  </div>
</div>
