{{#if isReadOnly}}
  {{!-- <OutputField /> --}}
  OUTPUT FIELD
{{else}}
  <div class="input-field input-field-{{type}}{{if isRequired ' is-required'}}{{if hasError ' has-error'}}">
    <FieldLabel @model={{@model}} @field={{@field}} @class={{@labelClass}} @label={{@label}} @for={{this.inputId}} />

    {{#if hasBlock}}
      {{!-- You can provide your own component for input. By using the component as a block component. The label, and errors will be displayed --}}
      {{yield this.inputId}}
    {{else}}

    {{/if}}

    <FieldHelptext @model={{@model}} @field={{@field}} @class={{@helptextClass}} @helptext={{@helptext}} @for={{this.inputId}} />
  </div>
{{/if}}