{{#if isNotInline}}
  <div class="form-group{{if isRequired ' required'}}{{if hasError ' has-error'}}{{if isReadOnly ' read-only'}}">
    <label class="control-label">
      {{labelComputed}}
    </label>
    <div>
      {{#if isReadOnly}}
        {{output-field model=model field=field inline=true link=false}}
      {{else}}
        {{#if isText}}
  				{{input-field-text model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
  			{{else if isBoolean}}
  				{{input-field-boolean model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
  			{{else if isNumber}}
  				{{input-field-number model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
  			{{else if isPrice}}
  				{{input-field-price model=model field=field placeholder=placeholder suffix=suffix}}
  			{{else if isPercentage}}
  				{{input-field-percentage model=model field=field placeholder=placeholder prefix=prefix}}
  			{{else if isSelect}}
  				{{input-field-select model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
  			{{else if isLink}}
  				{{input-field-link model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
  			{{else if isPhone}}
  				{{input-field-phone model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
  			{{else if isEmail}}
  				{{input-field-email model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
        {{else if isBelongsTo}}
          {{input-field-belongsto model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
        {{else if isDate}}
          {{input-field-date model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
        {{else if isDateTime}}
          {{input-field-datetime model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
        {{else if isTime}}
          {{input-field-time model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
        {{else if isTextArea}}
          {{input-field-textarea model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
  			{{else}}
  				Field <em>"{{field}}"</em> with type <em>"{{type}}"</em> not found
  			{{/if}}
      {{/if}}

      {{#each errors as |error|}}
        <small class="help-block">
          {{error.message}}
        </small>
      {{/each}}
    </div>
  </div>
{{else}}
  {{#if isReadOnly}}
    {{output-field model=model field=field inline=true link=false}}
  {{else}}
    {{#if isText}}
      {{input-field-text model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isBoolean}}
      {{input-field-boolean model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isNumber}}
      {{input-field-number model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isPrice}}
      {{input-field-price model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isPercentage}}
      {{input-field-percentage model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isSelect}}
      {{input-field-select model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isLink}}
      {{input-field-link model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isPhone}}
      {{input-field-phone model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isEmail}}
      {{input-field-email model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isBelongsTo}}
      {{input-field-belongsto model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isDate}}
      {{input-field-date model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isDateTime}}
      {{input-field-datetime model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isTime}}
      {{input-field-time model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else if isTextArea}}
      {{input-field-textarea model=model field=field placeholder=placeholder prefix=prefix suffix=suffix}}
    {{else}}
      Field <em>"{{field}}"</em> with type <em>"{{type}}"</em> not found
    {{/if}}
  {{/if}}
{{/if}}
