{{#if isReadOnly}}
  {{!-- <OutputField /> --}}
  READONLY
{{else}}
  <div class={{computedClass}}>
    <FieldLabel @model={{@model}} @field={{@field}} @class={{@labelClass}} @label={{@label}} @for={{this.calculatedInputId}} />

    {{#if hasBlock}}
      {{!-- You can provide your own component for input. By using the component as a block component. The label, and errors will be displayed --}}
      {{yield this.calculatedInputId}}
    {{else if (component-exists this.componentName)}}
      {{component this.componentName model=@model field=@field placeholder=@placeholder inputClass=@inputClass prefix=@prefix suffix=@suffix inputId=this.calculatedInputId options=@options preSetHook=this.preSetHook valueChanged=(action 'notifyExternalAction')}}
    {{else}}
      Component {{this.componentName}} does not exist
    {{/if}}

    <FieldHelptext @model={{@model}} @field={{@field}} @class={{@helptextClass}} @helptext={{@helptext}} @for={{this.calculatedInputId}} />
  </div>
{{/if}}