<div class="fg-line{{if hasFocus ' fg-toggled'}}">
  {{#if isBlock}}
    {{field-label labelClass="control-label fg-label" for=inputId model=model field=field label=label}}
  {{/if}}

  {{#if hasBlock}}
    {{yield inputId}}
  {{else if isReadOnly}}
    {{output-field model=model field=field inline=true link=false}}
  {{else}}
    {{component componentName model=model field=field placeholder=placeholder styleClass=styleClass prefix=prefix suffix=suffix minDate=minDate maxDate=maxDate showButton=showButton inputId=inputId required=isRequired options=options preSetHook=preSetHook valueChanged=(action 'valueChanged')}}
  {{/if}}

  {{#if isBlock}}
    {{field-helptext model=model field=field helptext=options.helptext}}
  {{/if}}
</div>
{{field-messages model=model field=field}}
