<div class={{computedClass}}>
  <FieldLabel @model={{@model}} @field={{@field}} @class={{@labelClass}} @label={{@label}} />

  {{#if hasBlock}}
    {{!-- You can provide your own component for output. By using the component as a block component. The label, and errors will be displayed --}}
    {{yield}}
  {{else if (component-exists this.componentName)}}
    {{component this.componentName model=@model field=@field outputClass=@outputClass prefix=@prefix suffix=@suffix options=@options}}
  {{else}}
    Component {{this.componentName}} does not exist
  {{/if}}

  {{!-- <FieldHelptext @model={{@model}} @field={{@field}} @class={{@helptextClass}} @helptext={{@helptext}} @for={{this.calculatedInputId}} />
  <FieldMessages @model={{@model}} @field={{@field}} /> --}}
</div>