<div class={{this.computedClass}}>
  {{#if this.modelComputed}}
    {{#if (not this.inline)}}
      <FieldLabel 
        @model={{@model}} 
        @field={{@field}} 
        @class={{this.labelClass}} 
        @label={{@label}} />
    {{/if}}

    {{#if hasBlock}}
      {{!-- You can provide your own component for output. By using the component as a block component. The label will be displayed --}}
      {{yield}}
    {{else if (component-exists this.componentName)}}
      {{component this.componentName
        model=this.modelComputed
        field=this.fieldComputed
        outputClass=@outputClass
        inline=this.inline
        prefix=@prefix
        suffix=@suffix
        options=@options}}
    {{else}}
      Component {{this.componentName}} does not exist
    {{/if}}
  {{else}}
    <span class="output">
      <span class="value empty"></span>
    </span>
  {{/if}}
</div>