{{#if this.showNone}}
  <Input
    @id={{concat this.inputId "-none"}}
    @type="radio"
    @value={{undefined}}
    @checked={{not @value}}
    name={{this.inputIdComputed}}
    disabled={{@disabled}}
    ...attributes
    {{on "input" (fn this.valueChanged undefined)}}
  />
  <label for={{concat this.inputId "-none"}}>
    {{this.noneLabelComputed}}
  </label>
{{/if}}
{{#each @selectOptions as |selectOption index|}}
  <Input
    @id={{concat this.inputId index}}
    @type="radio"
    @value={{selectOption.value}}
    @checked={{deq selectOption.value @value}}
    name={{this.inputIdComputed}}
    disabled={{@disabled}}
    ...attributes
    {{on "input" (fn this.valueChanged selectOption.value)}}
  />
  <label for={{concat this.inputId index}}>
    {{selectoption-label selectOption}}
  </label>
{{/each}}