<select onchange={{action (mut this.computedValue) value='target.value'}} class={{this.computedClass}} id={{@inputId}} disabled={{@disabled}}>
  {{#if this.showNone}}
    <option selected={{not this.computedValue}} disabled={{this.noneDisabled}}>{{this.noneLabelComputed}}</option>
  {{/if}}
  {{#each @selectOptions as |selectOption|}}
    <option value={{selectOption.value}} selected={{eq selectOption.value this.computedValue}}>{{selectoption-label selectOption}}</option>
  {{/each}}
</select>
