<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  {{#if (or value (eq value 0))}}
    <span class= 'value'>
        {{format-number value
            style='currency'
            currency=this.currencyComputed
            currencyDisplay=this.fieldInformation.currencyDisplay
            minimumFractionDigits=precision}}
    </span>
  {{else}}
    <span class="value empty"></span>
  {{/if}}
  {{#if @suffix}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>