<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if @value 'value' 'value empty'}}>
    {{moment-format @value this.momentFormat}}
  </span>
  {{#if @suffix}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>