<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="input-group-text prefix">
      {{@prefix}}
    </span>
  {{/if}}

  <select
    class="form-control"
    id={{this.inputIdComputed}}
    disabled={{@disabled}}
    multiple={{true}}
    ...attributes
    {{on "input" this.multiSelectValueChanged}}
  >
    {{#if this.showNone}}
      <option
        value=""
        selected={{or (not @value) (is-empty @value)}}
        disabled={{this.noneDisabled}}
      >
        {{this.noneLabelComputed}}
      </option>
    {{/if}}
    {{#each @selectOptions as |selectOption|}}
      <option
        value={{selectOption.value}}
        selected={{array-contains @value selectOption.value}}
      >
        {{selectoption-label selectOption}}
      </option>
    {{/each}}
  </select>

  {{#if @suffix}}
    <span class="input-group-text suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>