<span class={{this.computedClass}}>
  {{#if @prefix}}
    <div class="input-group-prepend">
      <span class="input-group-text prefix">{{@prefix}}</span>
    </div>
  {{/if}}

  <select {{on "input" this.multiSelectValueChanged}} class='form-control' id={{this.inputIdComputed}} disabled={{@disabled}} multiple ...attributes>
    {{#if this.showNone}}
      <option selected={{not @value}} disabled={{this.noneDisabled}}>{{this.noneLabelComputed}}</option>
    {{/if}}
    {{#each @selectOptions as |selectOption|}}
      <option value={{selectOption.value}} selected={{array-contains @value selectOption.value}}>{{selectoption-label selectOption}}</option>
    {{/each}}
  </select>

  {{#if @suffix}}
    <div class="input-group-append">
      <span class="input-group-text suffix">{{@suffix}}</span>
    </div>
  {{/if}}
</span>