<select onchange={{action 'setValue'}} class={{this.computedClass}} id={{@inputId}} disabled={{@disabled}} multiple>
  {{#if this.showNone}}
    <option selected={{not this.computedValue}} disabled={{this.noneDisabled}}>{{this.noneLabelComputed}}</option>
  {{/if}}
  {{#each @selectOptions as |selectOption|}}
    <option value={{selectOption.value}} selected={{array-contains this.computedValue selectOption.value}}>{{selectoption-label selectOption}}</option>
  {{/each}}
</select>