<span class={{this.computedClass}}>
  {{#if @prefix}}
    <div class="input-group-prepend">
      <span class="input-group-text prefix">
        {{@prefix}}
      </span>
    </div>
  {{/if}}

  <select
    class="form-control"
    id={{@inputId}}
    disabled={{@disabled}}
    ...attributes
    {{on "input" this.valueChanged}}
  >
    {{#if this.showNone}}
      <option selected={{not @value}} value="" disabled={{this.noneDisabled}}>
        {{this.noneLabelComputed}}
      </option>
    {{/if}}
    {{#each @selectOptions as |selectOption|}}
      {{#if selectOption.selectOptions}}
        {{! Opt-Group }}
        <optgroup label={{selectOption.label}}>
          {{#each selectOption.selectOptions as |groupedSelectOption|}}
            <option
              value={{groupedSelectOption.value}}
              selected={{deq groupedSelectOption.value @value}}
            >
              {{selectoption-label groupedSelectOption}}
            </option>
          {{/each}}
        </optgroup>
      {{else}}
        <option
          value={{selectOption.value}}
          selected={{deq selectOption.value @value}}
        >
          {{selectoption-label selectOption}}
        </option>
      {{/if}}
    {{/each}}
    {{#if (and @value (not this.selectOptionsContainsValue))}}
      <option value={{@value}} selected={{true}}>
        {{@value}}
      </option>
    {{/if}}
  </select>

  {{#if @suffix}}
    <div class="input-group-append">
      <span class="input-group-text suffix">
        {{@suffix}}
      </span>
    </div>
  {{/if}}
</span>