<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="input-group-text prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class="input-group-text">
    <Input
      id={{@inputId}}
      @type="checkbox"
      @checked={{@value}}
      class="form-control switch"
      disabled={{@disabled}}
      placeholder={{@placeholder}}
      ...attributes
      {{on "input" this.toggleSwitch}}
    />
  </span>
  {{#if @suffix}}
    <span class="input-group-text suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>