<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="input-group-text prefix">
      {{@prefix}}
    </span>
  {{/if}}

  <EmberFlatpickr
    placeholder={{@placeholder}}
    id={{this.inputIdComputed}}
    class="form-control"
    autocomplete="off"

    @date={{this.flatpickrValue}}
    @dateFormat={{this.flatpickrFormat}}
    @onChange={{this.setFlatpickrValue}}
    @minDate={{this.minDate}}
    @maxDate={{this.maxDate}}
    @allowInput={{true}}
    @disabled={{@disabled}}
    @onReady={{this.onReady}}
    @dateFormat={{this.flatpickrFormat}}
    @locale={{hash firstDayOfWeek=1}}
  />

  {{#if this.showButton}}
    <button
      type="button"
      class="btn{{if
          @options.btnClass
          (concat ' ' @options.btnClass)
          ' btn-default'
        }}"
      {{on "click" this.toggleCalendar}}
    >
      <IconCalendar />
    </button>
  {{/if}}
  {{#if @suffix}}
    <span class="input-group-text suffix">
      {{@suffix}}
    </span>
  {{/if}}

</span>