<div
  class={{this.computedClass}}
  role="textbox"
  {{on "focusin" this.doFocusIn}}
  {{on "focusout" this.doFocusOut}}
>
  {{#if this.modelComputed}}
    <div class="input-container">
      {{#unless @inline}}
        <FieldLabel
          @model={{@model}}
          @field={{@field}}
          @label={{@label}}
          class={{concat "control-label " @labelClass}}
          for={{this.calculatedInputId}}
        />
      {{/unless}}

      {{#if (has-block)}}
        {{! You can provide your own component for input. By using the component as a block component. The label, and errors will be displayed }}
        {{yield this.calculatedInputId}}
      {{else if this.isReadOnly}}
        <OutputField
          @model={{@model}}
          @field={{@field}}
          @options={{@options}}
          @class={{@class}}
          @labelClass={{@labelClass}}
          @inline={{true}}
        />
      {{else if (component-exists this.componentName)}}
        {{component
          this.componentName
          model=this.modelComputed
          field=this.fieldComputed
          placeholder=@placeholder
          inputClass=@inputClass
          inline=@inline
          prefix=@prefix
          suffix=@suffix
          inputId=this.calculatedInputId
          options=@options
          preSetHook=this.preSetHook
          valueChanged=this.notifyExternalAction
        }}
      {{else}}
        {{! template-lint-disable no-bare-strings }}
        Component
        {{this.componentName}}
        does not exist
      {{/if}}
    </div>
    {{#unless @inline}}
      <FieldHelptext
        class={{@helptextClass}}
        @model={{@model}}
        @field={{@field}}
        @helptext={{@helptext}}
      />
    {{/unless}}
    <FieldMessages @model={{@model}} @field={{@field}} />
  {{else}}
    <span class="output">
      <span class="value empty"></span>
    </span>
  {{/if}}
</div>