<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="input-group-addon prefix">{{@prefix}}</span>
  {{/if}}
  <Input
    id={{this.inputIdComputed}}
    class='form-control'
    @type='text'
    @value={{this.computedValue}}
    @placeholder={{@placeholder}} />
  {{#if @suffix}}
    <span class="input-group-addon suffix">{{@suffix}}</span>
  {{/if}}
  {{#if @showButton}}
    <span class="input-group-btn">
      <button type="button" class="btn{{if options.btnClass (concat ' ' options.btnClass) ' btn-default'}}" {{on "click" this.toggleCalendar}}>
        📅
      </button>
    </span>
  {{/if}}
</span>