<span class={{this.computedClass}}>
  {{#if prefix}}
    <span class="input-group-addon prefix">{{@prefix}}</span>
  {{/if}}
  {{input type='text' value=this.computedValue class='form-control' placeholder=@placeholder id=inputIdComputed}}
  {{#if suffix}}
    <span class="input-group-addon suffix">{{@suffix}}</span>
  {{/if}}
  {{#if showButton}}
    <span class="input-group-btn">
      <button type="button" class="btn{{if options.btnClass (concat ' ' options.btnClass) ' btn-default'}}" {{action 'toggleCalendar'}}>
        📅
      </button>
    </span>
  {{/if}}
</span>