<span class={{this.computedClass}}>
  <TextArea 
    @value={{this.computedValue}} 
    disabled={{@disabled}}
    rows='3' 
    class='form-control' 
    placeholder={{@placeholder}} 
    id={{@inputId}} />
</span>