<div class={{this.classComputed}} role="group">
  {{#each selectOptions as |selectOption|}}
    <button {{action (mut this.computedValue) selectOption.value}} class="{{buttonClassComputed}}{{if (eq selectOption.value value) ' active'}}">
      {{selectoption-label selectOption}}
    </button>
  {{/each}}
</div>
