<div class={{this.classComputed}} role="group">
  {{#each @selectOptions as |selectOption|}}
    <button {{on "click" (fn this.buttonClicked selectOption)}} class="{{this.buttonClassComputed}}{{if (deq selectOption.value @value) ' active'}}">
      {{selectoption-label selectOption}}
    </button>
  {{/each}}
</div>
