<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="input-group-text prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <Input
    id={{@inputId}}
    @type="date"
    @value={{this.computedValue}}
    class="form-control"
    disabled={{@disabled}}
    placeholder={{@placeholder}}
    ...attributes
    {{on "input" this.valueChanged}}
  />
  {{#if @suffix}}
    <span class="input-group-text suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>