{{#if @prefix}}
  {{@prefix}}
{{/if}}
<span class={{if @value 'value' 'value empty'}}>
  {{@value}}
</span>
{{#if @suffix}}
  {{@suffix}}
{{/if}}
{{#if @value}}
  <a class="btn btn-default phone-button" href="tel:{{value}}">
    📞
  </a>
{{/if}}