<span class={{this.computedClass}}>
  {{#if (and @value @prefix)}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if @value 'value' 'value empty'}}>
    {{@value}}
  </span>
  {{#if (and @value @suffix)}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
  {{#if (and this.showButton @value)}}
    <a class="btn btn-default phone-button" href="tel:{{value}}">
      <IconPhone />
    </a>
  {{/if}}
</span>