<div class="row">
  <div class="col-sm-12">
    <div class="form-group m-b-15">
      <div class="fg-line">
        {{input-field-text model=value field='street' placeholder='Street'}}
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group m-b-15">
      <div class="fg-line">
        {{input-field-text model=value field='postalCode' placeholder='Postal Code'}}
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="form-group m-b-15">
      <div class="fg-line">
        {{input-field-text model=value field='city' placeholder='City'}}
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group m-b-15">
      <div class="fg-line">
        {{input-field-text model=value field='state' placeholder='State'}}
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="form-group m-b-15">
      <div class="fg-line">
        {{input-field-select model=value field='country' placeholder='Country'}}
      </div>
    </div>
  </div>
</div>
