{{#if isLoading}}
  <div class="loader"></div>
{{/if}}

<div class="card-header ch-alt m-b-20">
  <h2>{{plural}}</h2>
  {{#if newModel}}
    <button class="btn btn-float btn-danger btn-icon" {{action 'newModel'}}>
      <i class="zmdi zmdi-plus"></i>
    </button>
  {{/if}}
</div>

<div class="table-responsive model-list" tabindex="3">
  {{#if models}}
    <table class="table table-hover">
      <thead>
        <tr>
          {{#if selectable}}
            <td></td>
          {{/if}}
          {{#each columns as |column|}}
            <td>{{get-label column modelType}}</td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each models as |model|}}
          {{model-list-row model=model selectable=selectable action='modelSelected'}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="card-body card-padding">
      No {{plural}} found.
    </div>
  {{/if}}
</div>
