<div class="output-field-address">
  {{#output-text}}
    {{value.street}}
    {{#unless isBlankOrInline}}
      <a class="btn btn-output" target="_blank" href="https://maps.google.com?q={{get-field model=model field=field subfield='qeoQuery'}}">
        <i class="zmdi zmdi-google-maps"></i>
      </a>
      <br/>
    {{/unless}}
  {{/output-text}}

  {{#output-text}}
    {{value.postalCode}} {{value.city}}
  {{/output-text}}

  {{output-text value=value.state}}
  {{output-field-select model=value field='country' link=false inline=true}}
</div>
