<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if @value 'value' 'value empty'}}>
    {{@value}}
  </span>
  {{#if @suffix}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
  {{#if @value}}
    <a class="btn btn-default email-button" href="mailto:{{value}}">
      ✉️
    </a>
  {{/if}}
</span>