{{#if hasPrefix}}
 {{prefix}}
{{/if}}

<span class={{if value 'value' 'value empty'}}>
  {{value}}
</span>

{{#if hasSuffix}}
  {{suffix}}
{{/if}}

{{#if isButtonGroup}}
  <a class="btn btn-default" href="mailto:{{value}}">
    <span class="glyphicon glyphicon-envelope"></span>
  </a>
{{/if}}
