<span class={{this.computedClass}}>
  {{#if (and @value @prefix)}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if @value 'value' 'value empty'}} ...attributes>
    {{@value}}
  </span>
  {{#if (and @value @suffix)}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
  {{#if (and @value this.showButton)}}
    <a class="btn btn-default email-button" href="mailto:{{value}}">
      <IconEmail />
    </a>
  {{/if}}
</span>