{{#if isInline}}
  <div class="form-group">
    <label class="control-label">
      {{label}}
    </label>
    <div>
      {{#if isText}}
				{{output-field-text model=model field=field link=link inline=inline}}
			{{else if isBoolean}}
				{{output-field-boolean model=model field=field inline=inline}}
			{{else if isNumber}}
				{{output-field-number model=model field=field inline=inline}}
			{{else if isPrice}}
				{{output-field-price model=model field=field inline=inline}}
			{{else if isPercentage}}
				{{output-field-percentage model=model field=field inline=inline}}
			{{else if isPhone}}
				{{output-field-phone model=model field=field inline=inline}}
			{{else if isEmail}}
				{{output-field-email model=model field=field inline=inline}}
      {{else if isBelongsTo}}
        {{output-field-belongsto model=model field=field link=link inline=inline}}
      {{else if isDate}}
        {{output-field-date model=model field=field inline=inline format=format}}
      {{else if isDateTime}}
        {{output-field-datetime model=model field=field inline=inline format=format}}
      {{else if isTime}}
        {{output-field-time model=model field=field inline=inline format=format}}
      {{else if isSelect}}
        {{output-field-select model=model field=field inline=inline}}
      {{else if isLink}}
        {{output-field-link model=model field=field inline=inline}}
      {{else if isTextArea}}
        {{output-field-textarea model=model field=field inline=inline}}
      {{else if isRichText}}
        {{output-field-richtext model=model field=field inline=inline}}
			{{else if isNotBlankType}}
				Field <em>"{{field}}"</em> with type <em>"{{type}}"</em> not found
			{{/if}}
    </div>
  </div>
{{else}}
  {{#if isText}}
    {{output-field-text model=model field=field link=link inline=inline}}
  {{else if isBoolean}}
    {{output-field-boolean model=model field=field inline=inline}}
  {{else if isNumber}}
    {{output-field-number model=model field=field inline=inline}}
  {{else if isPrice}}
    {{output-field-price model=model field=field inline=inline}}
  {{else if isPercentage}}
    {{output-field-percentage model=model field=field inline=inline}}
  {{else if isPhone}}
    {{output-field-phone model=model field=field inline=inline}}
  {{else if isEmail}}
    {{output-field-email model=model field=field inline=inline}}
  {{else if isBelongsTo}}
    {{output-field-belongsto model=model field=field link=link inline=inline}}
  {{else if isDate}}
    {{output-field-date model=model field=field inline=inline format=format}}
  {{else if isDateTime}}
    {{output-field-datetime model=model field=field inline=inline format=format}}
  {{else if isTime}}
    {{output-field-time model=model field=field inline=inline format=format}}
  {{else if isSelect}}
    {{output-field-select model=model field=field inline=inline}}
  {{else if isLink}}
    {{output-field-link model=model field=field inline=inline}}
  {{else if isTextArea}}
    {{output-field-textarea model=model field=field inline=inline}}
  {{else if isNotBlankType}}
    Field <em>"{{field}}"</em> with type <em>"{{type}}"</em> not found
  {{/if}}
{{/if}}
