<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="input-group-addon prefix">{{@prefix}}</span>
  {{/if}}
  <Input
    id={{this.inputId}}
    class="form-control"
    @type="tel"
    @value={{this.computedValue}}
    @placeholder={{@placeholder}} />
  {{#if @suffix}}
    <span class="input-group-addon suffix">{{@suffix}}</span>
  {{/if}}
</span>