<span class={{this.computedClass}}>
  {{#if @prefix}}
    <span class="input-group-text prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <Textarea
    @value={{@value}}
    id={{@inputId}}
    disabled={{@disabled}}
    rows="3"
    class="form-control"
    placeholder={{@placeholder}}
    ...attributes
    {{on "input" this.valueChanged}}
  />
  {{#if @suffix}}
    <span class="input-group-text suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>