<span class={{this.computedClass}}>
  {{#if (and @prefix (or @value (eq @value 0)))}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if (or @value (eq @value 0)) "value" "value empty"}} ...attributes>
    {{#if (and @options (eq @value @options.positiveINFValue))}}
      +∞
    {{else if (and @options (eq @value @options.negativeINFValue))}}
      -∞
    {{else}}
      {{@value}}
    {{/if}}
  </span>
  {{#if (and @suffix (or @value (eq @value 0)))}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
</span>