<span class={{this.computedClass}}>
  {{#if (and @value @prefix)}}
    <span class="prefix">
      {{@prefix}}
    </span>
  {{/if}}
  <span class={{if @value 'value' 'value empty'}}>
    {{@value}}
  </span>
  {{#if (and @value @suffix)}}
    <span class="suffix">
      {{@suffix}}
    </span>
  {{/if}}
  {{#if (and @value this.showButton)}}
    <a class="btn btn-default url-button" href={{value}} target="_blank">
      <IconNewWindow />
    </a>
  {{/if}}
</span>