{{#if hasPrefix}}
 {{prefix}}
{{/if}}

<span class={{if value 'value' 'value empty'}}>
  {{value}}
</span>

{{#if hasSuffix}}
  {{suffix}}
{{/if}}

{{#if isButtonGroup}}
  <a class="btn btn-default" href="{{if displayHttp 'http://'}}{{value}}" target="_blank">
    <span class="glyphicon glyphicon-new-window"></span>
  </a>
{{/if}}
