{{#if @prefix}}
  {{@prefix}}
{{/if}}
<span class={{if @value 'value' 'value empty'}}>
  {{@value}}
</span>
{{#if @suffix}}
  {{@suffix}}
{{/if}}
{{#if @value}}
  <a class="btn btn-default url-button" href={{value}} target="_blank">
    ↗️
  </a>
{{/if}}